
@font-face {
  font-family: Junction;
  src: local("Junction"),
  local("Junction"),
  url(Junction.ttf);
  font-weight: bold;
}

* { font-family: Junction, Sans; background-color:LemonChiffon; }
part:before { content: attr(fictionaldate); }
part { width:100%; border-style:none; display: table;  border-spacing:12px; font-size:120%}
name {  display:table; font-size:120%; text-decoration:underline; }
line { text-align:center; background-color:LightYellow; width:100%; display: table; border-style:solid; border-width:1px; font-size:120%; }
scriptment:before { font-size:120%; content: "   ["attr(id)  "] - "  attr(status)  " - " attr(fictionaldate) " | " attr(point); }
line[speaker]:before { text-align:left; margin-left:-10px; content: attr(speaker) " (" attr(voicelang) ")" "  [" attr(id) "]"; font-size:70%; display:block;
text-decoration:underline;  }
line[speaker="game"] { background-color:LightBlue; font-family: Liberation Mono, Monospace; }
narration { text-align:left; background-color:Moccasin; width:100%; display: table; border-style:double; border-width:3px; font-size:130%; }
comment { text-align:left; border-style:solid; border-width:0px; display:table; font-size:80%; font-style:italic; }
condition:before { content:"Condition "; display:table; text-align:center; font-size:120%; }
choice:before { text-align: center; font-size:170%; content:"Choice # " attr(number); display:table; border-width:0px; }
choice { text-align:center; background-color:Pink; width:100%; }
condition { text-align:center; display:table; border-spacing:12px; border-width:1px; border-style:dashed; background-color:Pink; width:100%; }

.navlink { background-color:#FFFFFF; }

INSTRUMENT { color: blue; }

